.box{
    height: 50px;
    width: 200px;
}
.box1{
    background-color: blue;
}
.box2{
    background-color: rgb(30, 255, 0);
}
.box3{
    background-color: rgb(255, 238, 0);
}
.box4{
    background-color: rgb(255, 0, 0);
}
.box5{
    background-color: rgb(255, 94, 0);
}
#container{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}
